@mixin form-input-field($padding, $placeholder-color:"") {
  height: 35px;
  border: 2px solid var(--apricot);
  border-radius: 10px;
  background-color: var(--linen);
  width: 100%;
  color: var(--polished-pine);
  text-indent: 10px;
  box-sizing: border-box;
  padding: $padding;
  &:focus {
    outline-color: var(--deep-pink);
  }
  &::placeholder {
    opacity: 0.5;
    color: unquote($placeholder-color);
  }
}