.not_found_page, .error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--polished-pine);
  h1, h2, h3 {
    text-align: center;
  }
  img {
    width: 100%;
    min-width: 250px;
    max-width: 600px;
  }
}