@import 'src/common-styles/media-screen';

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile_settings {
  @include flex-column;

  @include media-screen-large {
    flex-direction: row;
  }
}

.profile_settings_section {
  @include flex-column;

  align-items: center;
}

.redirect {
  cursor: pointer;
  color: var(--deep-pink);
}
