.profile_settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile_settings_avatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--polished-pine);
  padding: 40px;
  border-radius: 20px;
  color: var(--deep-pink);
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  height: fit-content;
}

@media screen and (min-width: 1000px) {
  .profile_settings {
    flex-direction: row;
  }

}