@import 'src/common-styles/input-field';

.chats_list_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 16px;
}

.chats_list_header_profile {
  align-self: flex-end;
  color: var(--linen);
  cursor: pointer;
}

.search_label {
  position: relative;
}

.search_label::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5924 11.4139C10.1605 12.8458 7.83889 12.8458 6.40697 11.4139C4.97505 9.98193 4.97505 7.66033 6.40697 6.2284C7.83889 4.79648 10.1605 4.79648 11.5924 6.2284C13.0243 7.66033 13.0243 9.98193 11.5924 11.4139ZM12.0328 12.7968C10.0726 14.2962 7.25699 14.1495 5.46416 12.3567C3.51154 10.404 3.51154 7.23822 5.46416 5.28559C7.41678 3.33297 10.5826 3.33297 12.5352 5.28559C14.328 7.07834 14.4748 9.89376 12.9756 11.854L16.5423 15.4207L15.5995 16.3635L12.0328 12.7968Z' fill='%23F32A93'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.input_field_search {
  @include form-input-field(0 0 0 20px, var(--deep-pink));
}
