@import 'src/common-styles/scroll';

.users {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: var(--polished-pine);
  border-radius: 20px;
  padding: 15px;
  color: var(--linen);
}

.users_column {
  flex: 1;

  @include custom-scroll(var(--polished-pine));
}

.user {
  cursor: pointer;

  &:hover {
    color: var(--deep-pink);
  }
}

.users_title {
  color: var(--apricot);
}

.users_list {
  height: 150px;
  overflow-y: auto;
}
