.img_icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: var(--deep-pink);
  padding: 8px;
  margin-top: 20px;
  background-color: var(--linen);
  border: 2px solid var(--apricot);
  border-radius: 5px;
  &:hover, &:focus {
    border-color: var(--deep-pink);
  }
}

.img_pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}