@import 'src/common-styles/media-screen';

.chat_text_area {
  display: flex;
  flex: 1;
  max-height: 100%;

  @include media-screen-medium {
    display: flex;
    justify-content: center;
  }
}

.chat_text_area.chat_text_area_hidden_mobile {
  display: none;

  @include media-screen-medium {
    display: flex;
  }
}

.chat_text_area_empty {
  display: flex;
  flex-direction: column;
  color: var(--linen);
  justify-content: center;
}

.chat_text_area_img {
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}
