.chat_text_area {
  display: flex;
  flex: 1;
  background-color: var(--apricot);
}

.chat_text_area.chat_text_area_hidden_mobile {
  display: none;
}

.chat_text_area_empty {
  display: flex;
  flex-direction: column;
  color: var(--polished-pine);
  justify-content: center;
}

.chat_text_area_img {
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .chat_text_area {
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  .chat_text_area.chat_text_area_hidden_mobile {
    display: flex;
  }
}