@import "src/common-styles/scroll";

@include custom-scroll(var(--polished-pine));

.chats_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chats_list.chats_list_hidden_mobile {
  display: none;
}

.chat_listing {
  overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .chats_list {
    width: 50%;
    overflow-x: hidden;
  }
  .chats_list.chats_list_hidden_mobile {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .chats_list {
    width: 400px;
  }
}