@import 'src/common-styles/align';

.chat_message {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  max-width: 70%;
  border-radius: 20px;
  padding: 10px;

  p {
    word-break: break-word;
  }
}

.chat_message.chat_message_received {
  background-color: var(--white-smoke);
  color: var(--crystal-blue);
}

.chat_message.chat_message_received.chat_message_unread {
  background-color: var(--linen);
}

.chat_message.chat_message_sent {
  background-color: var(--crystal-blue);
  color: var(--linen);

  @include align-right;
}

.chat_message_date {
  font-size: 10px;
  width: fit-content;

  @include align-right;
}
