.img_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--deep-pink);
  padding: 5px 5px 10px 5px;
  margin-top: 20px;
  background-color: var(--linen);
  border: 2px solid var(--apricot);
  border-radius: 5px;
  &:hover, &:focus {
    border-color: var(--deep-pink);
  }
}