.input_chat_message {
  flex: 1;
  border: 2px solid var(--apricot);
  border-radius: 20px;
  resize: none;
  padding: 10px;
  color: var(--polished-pine);

  &:focus {
    outline-color: var(--deep-pink);
  }

  &::placeholder {
    color: var(--polished-pine);
  }
}
